@font-face {
    font-family: 'eFootball';
    src: local('eFootball Sans Regular'), local('eFootball-Sans-Regular'),
        url('eFootballSans-Regular.woff2') format('woff2'),
        url('eFootballSans-Regular.woff') format('woff'),
        url('eFootballSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }